# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# Project outputs & runs
runs/
logs/
figures/*.png
.cache/

# OS metadata
.DS_Store
Thumbs.db
